.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  display: flex;
  justify-content: left;
  background-color: whitesmoke;
}

.logo {
  width: 60px;
  height: auto;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  height: 90vh;
  overflow: scroll;
}

.pinLink {
  display: block;
  width: 230px;
  overflow: hidden;
  border-radius: 12px;
  margin: 20px;
}

.card {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}

.pinLink:hover,
.pin:hover {
  box-shadow: 0px 0px 4px #ccc;
  opacity: 0.95;
}

.card > img {
  width: 100%;
}

.pin {
  display: flex;
  width: 900px;
  height: auto;
  margin-top: 40px;
  border-radius: 12px;
  background-color: whitesmoke;
  overflow: scroll;
  align-self: center;
}

.pin-image-container {
  width: 40%;
  margin: 1.5%;
  height: auto;
}

.pin-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.pin-details {
  width: 58%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 20px;
}

.pin-title {
  font-size: 35px;
  margin: 35px 0 10px 0;
  overflow: wrap;
  font-family: 'RobotoCondensedBold';
}

.pin-description {
  font-size: 22px;
  margin: 5px 0;
  overflow: wrap;
  font-family: 'RobotoCondensed';
}
