.App {
  text-align: center;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pinLink {
  display: block;
  width: 230px;
  overflow: hidden;
  border-radius: 15px;
  margin: 20px;
}

.card {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}

.card > img {
  width: 100%;
}
