.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

.logo,
.add-icon {
  width: 40px;
  height: auto;
  padding: 10px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  height: 90vh;
  overflow: scroll;
}

.pinLink {
  display: block;
  width: 230px;
  overflow: hidden;
  border-radius: 12px;
  margin: 20px;
}

.card {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}

.pinLink:hover,
.pin:hover,
.new-pin:hover {
  box-shadow: 0px 0px 4px #ccc;
  opacity: 0.95;
}

.card > img {
  width: 100%;
}

.pin,
.new-pin {
  display: flex;
  width: 900px;
  height: auto;
  margin-top: 40px;
  border-radius: 12px;
  background-color: whitesmoke;
  overflow: scroll;
  align-self: center;
}

.new-pin {
  justify-content: center;
}

.pin-image-container,
.image-input-container {
  width: 40%;
  margin: 1.5%;
  height: auto;
}

.pin-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.pin-details,
.details-input {
  width: 58%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 20px;
}

.pin-title,
.title-input {
  font-size: 35px;
  margin: 35px 0 10px 0;
  overflow: wrap;
  font-family: 'RobotoCondensedBold';
}

.pin-description,
.description-input {
  font-size: 22px;
  margin: 5px 0;
  overflow: wrap;
  font-family: 'RobotoCondensed';
}

.title-input,
.description-input {
  border: none;
  border-bottom: solid 2px #333;
  background-color: whitesmoke;
  margin: 30px 0 5px 0;
}

.add-image-container {
  border: solid 1px;
  width: 100%;
  height: 50%;
}

.new-pin {
  min-height: 500px;
  height: auto;
  display: flex;
  width: 900px;
  margin-top: 40px;
  border-radius: 12px;
  background-color: whitesmoke;
}

.new-pin-form {
  display: flex;
}

.submit {
  width: 100px;
  height: 30px;
  background-color: #e60023;
  color: white;
  font-family: 'RobotoCondensedBold';
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin: 30px 0;
}

.index-page {
  justify-content: center;
  text-align: center;
}

.container {
  position: relative;
  top: 200px;
  height: 500px;
  width: 700px;
  display: inline-block;
  text-align: center;
}

.index-logo {
  width: 700px;
  height: auto;
}

.login {
  position: relative;
  top: 20px;
  border: 1px solid rgba(180, 180, 180, 0.8);
  width: 400px;
  height: 65px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.login:hover {
  box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.8);
}

.box {
  height: 320px;
  width: 380px;
  display: inline-block;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.github {
  position: relative;
  top: 10px;
  height: 46px;
  width: 85px;
}

.text {
  position: relative;
  font-family: 'RobotoCondensed';
  font-size: 30px;
  top: 15px;
}
