.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo,
.add-icon,
.avatar {
  width: 40px;
  height: auto;
  padding: 10px;
}

.avatar,
.creator-avatar {
  border-radius: 50%;
}

.header-left-end {
  display: flex;
}

.home-dashboard,
.profile-dashboard {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  overflow: scroll;
}

.home-dashboard {
  height: 90vh;
}

.profile-dashboard {
  height: 73vh;
}

.pinLink {
  display: block;
  width: 230px;
  overflow: hidden;
  border-radius: 12px;
  margin: 20px;
}

.card {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}

.pinLink,
.new-pin,
.pin {
  box-shadow: 0px 0px 4px #ccc;
}

.pinLink:hover {
  box-shadow: 0px 0px 12px #aaa;
}

.card > img {
  width: 100%;
}

.pin,
.new-pin {
  display: flex;
  width: 900px;
  height: auto;
  margin-top: 40px;
  border-radius: 12px;
  overflow: scroll;
  align-self: center;
}

.new-pin {
  justify-content: center;
}

.pin-image-container,
.image-input-container {
  width: 40%;
  margin: 1.5%;
  height: auto;
}

.image-input {
  display: none;
}

.add-image-container {
  width: 90%;
  border: solid 3px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-image-icon {
  width: 10%;
  margin-left: 45%;
}

.image-preview {
  padding: 1%;
  width: 98%;
  height: auto;
}

.pin-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  background-color: whitesmoke;
}

.pin-details,
.details-input {
  width: 58%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 20px;
}

.details-input {
  margin-top: 40px;
}

.pin-title,
.title-input {
  font-size: 35px;
  margin: 35px 0 10px 0;
  overflow: wrap;
  font-family: 'RobotoCondensedBold';
}

.pin-description,
.description-input {
  font-size: 19px;
  line-height: 28px;
  opacity: 0.9;
  margin: 5px 0;
  overflow: wrap;
  font-family: 'RobotoCondensed';
}

.title-input,
.description-input {
  width: 80%;
}

.title-input:focus,
.description-input:focus {
  outline: none;
}

.title-input,
.description-input {
  border: none;
  border-bottom: solid 2px #333;
  margin: 30px 0 5px 0;
}

.add-image-container {
  border: solid 3px #ccc;
  min-height: 95%;
  border-radius: 6px;
  width: 100%;
  margin-top: 2%;
}

.new-pin {
  min-height: 300px;
  height: auto;
  display: flex;
  width: 900px;
  margin-top: 40px;
  border-radius: 12px;
}

.new-pin-form {
  display: flex;
}

.submit {
  width: 100px;
  height: 30px;
  background-color: #e60023;
  color: white;
  font-family: 'RobotoCondensedBold';
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin: 30px 0;
}

.index-page {
  justify-content: center;
  text-align: center;
}

.container {
  position: relative;
  top: 200px;
  height: 500px;
  width: 700px;
  display: inline-block;
  text-align: center;
}

.index-logo {
  width: 700px;
  height: auto;
}

.login {
  position: relative;
  top: 20px;
  border: 1px solid rgba(180, 180, 180, 0.8);
  width: 400px;
  height: 65px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.login:hover {
  box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.8);
}

.box {
  height: 320px;
  width: 380px;
  display: inline-block;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.github {
  position: relative;
  top: 10px;
  height: 46px;
  width: 85px;
}

.text {
  position: relative;
  font-family: 'RobotoCondensed';
  font-size: 30px;
  top: 15px;
}

.pin-creator,
.likes-container {
  display: flex;
  flex-direction: row;
  margin: 20px 50px 30px 0;
}

.creator-avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.creator-name {
  font-size: 24px;
  margin: 0px;
  opacity: 0.8;
  font-family: 'RobotoCondensed';
  font-weight: bolder;
}

.created-time {
  font-size: 16px;
  font-family: 'RobotoCondensed';
  opacity: 0.5;
  margin: 12px 0 5px 0;
}

.pin-add-details {
  display: flex;
}

.likes-container {
  cursor: pointer;
}

.like-icon {
  width: 25px;
  height: 25px;
  opacity: 0.8;
}

.likes-count {
  font-family: 'RobotoCondensed';
  font-weight: bold;
  font-size: 19px;
  margin: 4px 12px;
}

.profile-header {
  display: flex;
  justify-content: center;
  margin: 10px 0 25px 0;
}

.profile-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile-username {
  font-size: 40px;
  font-family: 'RobotoCondensedBold';
  margin: 15px;
}

.something {
  width: 10px;
}
